@import "tailwindcss";

@theme {
  /* Aquí conectamos tu fuente Hanken */
  --font-hanken: var(--font-hanken-grotesk), sans-serif;
  
  /* Puedes definir colores de marca aquí mismo */
  --color-admin-primary: #0066ff;
  --color-client-secondary: #10b981;
}

/* Estilos base opcionales */
body {
  font-family: var(--font-hanken);
  @apply antialiased;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}
